.main{
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 10px;
    background-color: rgb(239, 239, 239);
}

.lists{
    margin-top: 20px;
}

.list{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 1px 5px grey;
}

.title, .title:visited{
    font-size: 1.3em;
    text-decoration: none;
    color: blue;
}

.title:hover{
    text-decoration:underline;
}

.btn{
    margin-right: 5px;
}