button{
    margin-right: 5px;
}

.title{
    font-size: 1.5em;
}

.loading{
    width: 600px; 
    height: 400px; 
}

.piechart{
    width: 70%;
    margin: auto;
}

.loading div{
    font-size: 1.2em;
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    
}